WEBSITE_PORT=3000
ADMIN_PORT=3100
NODE_ENV=production
PRODUCT_DOMAIN=product.ibnbatoutaweb.com
ADMIN_DOMAIN=admin.product.ibnbatoutaweb.com
ADMIN_USER=admin
ADMIN_PASS=change-me-now
COOKIE_SECURE=false
DATA_FILE=/app/data/data.json
UPLOADS_DIR=/app/uploads
